<title>영수증</title>

{% load humanize %}

{% load static %}
<link href="{% static 'css/base.css' %}" rel="stylesheet" />
<link href="{% static 'css/details.css' %}" rel="stylesheet" />

<style>

</style>

{% block content %}
<div class="mainBody">
    <table>
        <thead>
            <tr>
                <th colspan="4">{{ meetingTitle }}</th>
            </tr>
            <tr>
                <td colspan="4"><br> 단위 : {{ monetaryUnit }}</td>
            </tr>
        </thead>
        <tbody>
            <tr style="border-bottom: 1px dashed #ccc">
                <td>이용처</td>
                <td>설명</td>
                <td>금액</td>
            </tr>
        {% for receiptInfo in receiptInfoList %}
            <tr>
                <td><span>{{  receiptInfo.store }}</span></td>
                <td><span>{{  receiptInfo.content }}</span></td>
                <td>{{  receiptInfo.amount }} x {{  receiptInfo.price|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {%  for unusedMoney in unusedMoneyList %}
            <tr>
                <td>{{ unusedMoney.title }}</td>
                <td>{{ unusedMoney.description }}</td>
                <td class = "unusedMoney">{{  unusedMoney.amount|intcomma }}</td>
            </tr>
        {% endfor %}
        {%  for usedMoney in usedMoneyList %}
            <tr>
                <td>{{ usedMoney.title }}</td>
                <td>{{ usedMoney.description }}</td>
                <td class = "usedMoney">-{{ usedMoney.amount|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr style="border-top: 1px dashed #ccc">
            <td>남은 금액</td>
            <td colspan="2" id = 'finalPrice'></td>
        </tr>
        </tfoot>
    </table>
    <div class="peopleList">
        <p>{{ meetingDate }}</p>
        <h3>참여 인원 ({{ participantList|length }}명)</h3>

        {%  for participant in participantList %}
            <li>{{ participant }}</li>
        {% endfor %}

        <h3>미 참여 인원 ({{ nonParticipantList|length }}명)</h3>

        {%  for nonParticipant in nonParticipantList %}
            <li>{{ nonParticipant }}</li>
        {% endfor %}
    </div>
</div>
{% endblock %}

<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/details.js" %}"></script>




</script>