<title>영수증 만들기</title>

{% load static %}
<link href="{% static 'css/base.css' %}" rel="stylesheet" />

<style>
    table td:nth-of-type(1) {
        width: 30px
    }
</style>

{% block content %}
<table>
    <thead>
        <tr>
            <th colspan="6">영수증 만들기</th>
        </tr>
        <tr>
            <td colspan="6"><button onclick="addReceiptInfo()">행 추가</button> </td>
        </tr>
    </thead>
    <tbody id = 'receiptBody'>
    <tr style="text-align: center">
        <td></td>
        <td>이용 날짜</td>
        <td>이용처</td>
        <td>내용</td>
        <td>금액</td>
        <td>개수</td>
    </tr>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <button>영수증 생성</button>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}

<!--<script src="{% static 'js/scripts.js'%}"></script>-->

<script>
    const addReceiptInfo = () => {
        const temp = document.createElement("tr");
        temp.classList.add('receiptInfo')
        const htmlInfo = [];
        htmlInfo.push(`<td><input type="checkbox" /></td>`)
        htmlInfo.push(`<td><input class="meetingDate" type="date" /></td>`)
        htmlInfo.push(`<td><input class="store" /></td>`)
        htmlInfo.push(`<td><input class="description" /></td>`)
        htmlInfo.push(`<td><input class="money" /></td>`)
        htmlInfo.push(`<td><input class="amount" /></td>`)

        temp.innerHTML = htmlInfo.join('');

        document.getElementById('receiptBody').append(temp);
    }
    window.onload = () => {
        addReceiptInfo();
    }

</script>