{% block title %}{{ test }}{% endblock %}

<!--{% load static %}-->
<!--<link href="{% static 'css/styles.css' %}" rel="stylesheet" />-->
<style>
    #receiptBody {
        margin-top: 10px;
        border-top: 1px solid #ccc;
    }
    .receiptInfo {
        margin-top: 10px;
    }
    input {
        margin-left: 5px;
        border-radius: 5px;
    }
    div > span:nth-of-type(2) {
        margin-left: 50px;
    }
</style>

{% block content %}
<div id ='navbarResponsive'>
    <h1>test</h1>
</div>

<div>
    <div>
        <span>매장</span>
        <input />
        <span>날짜</span>
        <input type="date" />
    </div>
    <div id = 'receiptBody'>
        <button onclick="addReceiptInfo()">행 추가</button>
    </div>
    <div>
        <button style="margin-top: 10px">영수증 생성</button>
    </div>
</div>
<!--{% for todo in todolist %}-->
<!--<div>-->
<!--    <span> {{ todo.content }} </span>-->
<!--    <span> {{ todo.flag }} </span>-->
<!--</div>-->
<!--{% endfor %}-->
{% endblock %}

<!--<script src="{% static 'js/scripts.js'%}"></script>-->

<script>
    const addReceiptInfo = () => {
        const temp = document.createElement("div");
        temp.classList.add('receiptInfo')
        const htmlInfo = [];
        htmlInfo.push(`<span>내용</span>`)
        htmlInfo.push(`<input />`)
        htmlInfo.push(`<span>금액</span>`)
        htmlInfo.push(`<input />`)

        temp.innerHTML = htmlInfo.join('');

        document.getElementById('receiptBody').append(temp);
    }
    window.onload = () => {
        addReceiptInfo();
    }

</script>